Repository colefiscus/whatsCookinRefactor, pull requests merged in 2021-01, with the labels that each got.

#34 Feature/recipes to cook methods
  src/user.js
Labels: User, enhancement

#36 Feature/cook a recipe
  src/scripts.js
  src/user.js
Labels: User, data, enhancement

#35 Complete and pass pantry-test.js
  test/pantry-test.js
Labels: Pantry, test

#39 feature/recipe-methods
  src/scripts.js
  src/user.js
  src/util.js
Labels: User, data

#40 Feature/cookbook tests
  test/cookbook-test.js
Labels: test

#41 tests/recipe-tests
  test/recipe-test.js
Labels: Recipe, data, test

#44 Feature/populate cards refactor
  src/index.html
  src/scripts.js
  src/user.js
Labels: display, refactor, scripts

#45 feat/favorites-refactor
  src/scripts.js
Labels: data, display, refactor, scripts

#46 Feature/css
  src/_one-card.scss
  src/_three-cards.scss
  src/_two-cards.scss
  src/css/base.css
  src/css/base.scss
  src/css/styles.css
  src/css/styles.css.map
  src/css/styles.scss
  src/css/styles.scss.map
  src/index.html
  src/scripts.js
  src/styles.css
  src/styles.scss
  src/user.js
Labels: display, refactor, scripts

#38 Test/user tests
  src/data/recipes.js
  src/scripts.js
  src/user.js
  test/recipe-test.js
  test/user-test.js
Labels: User, data, test

#48 Feature/favorites display refactor
  dist/index.html
  dist/main.bundle.js
  src/index.html
  src/scripts.js
  src/user.js
  src/util.js
Labels: data, display, scripts

#51 Feature/link network request data
  src/data/ingredients.js
  src/data/recipes.js
  src/data/users.js
  src/scripts.js
  src/user.js
  src/util.js
Labels: Cookbook, Network Requests, Recipe, User, bug, data, display, duplicate, refactor, scripts

#63 Fix/accessibility
  src/_one-card.scss
  src/_two-cards.scss
  src/_variables.scss
  src/css/styles.scss
  src/css/styles.scss.map
  src/index.html
  src/recipe.js
  src/scripts.js
  src/styles.scss
  src/user.js
  src/util.js
Labels: display, enhancement

#64 Feature/add ingredient to pantry function
  src/index.html
  src/scripts.js
  src/util.js
Labels: bug, data, display

#65 Clean up console logs and commented code.
  src/_three-cards.scss
  src/_variables.scss
  src/cookbook.js
  src/css/styles.scss.map
  src/index.html
  src/pantry.js
  src/recipe.js
  src/scripts.js
  src/styles.scss
  src/user.js
  src/util.js
Labels: data

#66 Update tests for new data sets.
  test/recipe-test.js
  test/user-test.js
Labels: Recipe, User, test
